:root {
  --main-color: #e3238b;
  --sub-color: #13aee1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 400px;
  background-color: var(--sub-color);
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.7;
}

h2 {
  font-size: 160%;
  border-left: 12px solid var(--main-color);
  padding-left: 9px;
  line-height: 1.1;
  margin-bottom: 14px;
}

h3 {
  font-size: 120%;
}
